.App {
  font-family: Arial, sans-serif;
}

.user-info, .contact-info, .educational-info, .experience-info, .skill-info, .interests-info, .guild-info {
  margin: 20px 0;
  padding: 110px;
}

input {
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}
button {
  background-color: #ffcdd2;
  color: #1c0909;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
